.img-popup__closed-button {
    width: 32px;
    height: 32px;
    background-image: url(/src/images/close-icon.svg);
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: -40px;
    right: -40px;
}