.profile__edit-button {
    padding: 0;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    margin-top: 15px;
    cursor: pointer;
    background-image: url(../../../images/pencil.svg);
    background-size: cover;
}

@media screen and (max-width: 647px) {
    .profile__edit-button {
        height: 18px;
        width: 18px;
        margin-top: 33px;
        transform: translate(10px);
    }
}

.profile__edit-button:hover {
    opacity: 0.6;
}