.profile {
    max-width: 880px;
    margin: 40px auto 51px auto;
    display: grid;
    grid-template-columns: 120px auto 150px;
}

@media screen and (max-width: 647px) {
    .profile {
        justify-content: center;
        grid-template-columns: 282px;
        margin: 40px auto 34px auto;
    }
}