.elements__button-like {
    border: none;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 19px;
    background-image: url(../../../images/heart.svg);
    align-self: center;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    background-repeat: no-repeat;
    margin-top: 5px;
    align-self: normal;
    margin-right: 5px;
}

.elements__button-like:hover {
    opacity: 0.5;
    cursor: pointer;
}

.elements__button-like:active {
    background-image: url(../../../images/Union.svg);
}