.popup__text-activity {
    border: none;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 358px;
    margin-top: 30px;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 414px) {
    .popup__text-activity {
        width: 238px;
    }
    
}