.header {
    max-width: 880px;
    margin: 45px auto 40px;
    border-bottom: 1px solid rgba(54,54,54,0.7);
}

@media screen and (max-width: 435px) {
    .header {
        margin: 28px auto 42px;
    }    
}
