.popup__form {
    background-color: #FFF;
    width: 430px;
    height: 330px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (max-width: 414px) {
    .popup__form {
        width: 282px;
        height: 322px;
    }
}

