.popup__form {
    background-color: #FFF;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 54px 0 48px 0;
    width: 100%;
}

.popup__form :not(:last-child) {
    margin-bottom: 30px;
}