.popup__form {
    background-color: #FFF;
    position: relative;
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 435px) {
    .popup__form :nth-child(2) {
    margin-bottom: 0px;
    }
}

