.popup__closed-button {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
    top: -40px;
    right:  -40px;
    background-image: url(../../../images/Close\ Icon.svg);
}

.popup__closed-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 435px) {
    .popup__closed-button {
        width: 20px;
        height: 20px;
        top: -36px;
        right:  0px;
    }
}