.profile__edit-button {
    padding: 0;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    margin-top: 15px;
    cursor: pointer;
    background-image: url(../../../images/pencil.svg);
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-position: center;
    background-size: 10px 10px;
}

@media screen and (max-width: 647px) {
    .profile__edit-button {
        height: 18px;
        width: 18px;
        margin-top: 34px;
        background-size: 7.5px 7.5px;
        position: relative;
    }
}

.profile__edit-button:hover {
    opacity: 0.6;
}