.popup__form {
    background-color: #FFF;
    position: relative;
    display: grid;
    gap: 30px;
    flex-direction: column;
    margin: 54px 0 0 0;
    width: 100%;
}

@media screen and (max-width: 591px) {
    .popup__form {
        margin-top: 75px;
    }
    
}