.elements__number-like {
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: black;
    right: 27px;
    top: 335px;
}