.profile__info-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 647px) {
    .profile__info-block {
        display: flex;
        justify-content: end;
    }
}