.popup__title {
    background-color: #FFF;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0 0 54px 0;
    align-self: start;
}


@media screen and (max-width: 435px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 75px 0;
    }
}