.elements__list {
    padding: 0;
    margin: 0;
    display: grid;
    gap: 20px 17px;
    list-style: none;
    grid-template-columns: repeat(3, 282px); 
}

@media screen and (max-width: 895px) {
    .elements__list {
        grid-template-columns: repeat(2, 282px); 
    }
}


@media screen and (max-width: 591px) {
    .elements__list {
        grid-template-columns: repeat(1, 282px);
        gap: 20px;
    }
}