.img-popup__closed-button {
    width: 32px;
    height: 32px;
    background-image: url('../../../images/Close\ Icon.svg');
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: -40px;
    right: -40px;
}